

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-parent {
  flex: 1 1 160px;
}

.btn {
  
  margin: 20px;
  height: 45px;
  width: 167px !important;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  background-color: darkslateblue;
  color: white;
  cursor: pointer;
}

.modal {
  height: 500px;
  width: 70%;
  background-color: grey;
  border-radius: 30px;
  position: fixed;
  top: 20%;
  text-align: center;
}

.hidden {
  display: none;
}

.modal-exit {
  position: absolute;
  top: 0%;
  left: 96%;
  font-weight: bolder;
  margin-top: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal img {
  width: 260px;
}
.modal-description {
font-size: 20px;
padding-left: 80px;
padding-right: 80px;
}

